Source: postorius
Section: python
Priority: optional
Maintainer: Debian Mailman Team <pkg-mailman-hackers@lists.alioth.debian.org>
Uploaders: Pierre-Elliott Bécue <becue@crans.org>,
           Jonas Meurer <mejo@debian.org>
Build-Depends: debhelper (>= 10),
               dh-python,
               python-all,
               python-setuptools,
               python3-sphinx,
               python3-sphinx-rtd-theme
Standards-Version: 4.1.0
Homepage: http://www.list.org/
Vcs-Browser: https://anonscm.debian.org/git/pkg-mailman/postorius.git/
Vcs-Git: https://anonscm.debian.org/cgit/pkg-mailman/postorius.git/
Testsuite: autopkgtest-pkg-python
X-Python-Version: >= 2.7

Package: python-django-postorius
Architecture: all
Depends: python-django,
         python-django-allauth,
         python-django-mailman3,
         python-mailmanclient,
         ${misc:Depends},
         ${python:Depends}
Recommends: nginx | libapache2-mod-uwsgi, uwsgi, mailman3-core
Description: Web user interface to access GNU Mailman3
 The Postorius Django app provides a web user interface
 to access GNU Mailman3, and manage it. This interface
 uses django, and requires some configuration.
