{% extends "postorius/base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}
{% trans 'Templates' %}
{% endblock head_title %}

{% block content  %}
    <div class="page-header">
      <h1>Delete Template
        <small>{{ domain.mail_host }}</small>
      </h1>
    </div>
    
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object.description }}"?</p>
        <input class="btn btn-danger" type="submit" value="Confirm" />
        <a class="btn btn-info" href="{{ view.success_url }}">Cancel</a>

    </form>

{% endblock content %}
